* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Noto Serif", serif, "Poppins", sans-serif;
}
body {
  background-color: rgb(3, 29, 78);
  color: white;
}
hr {
  border: 3px solid;
}
div a {
  text-decoration: none;
  color: darkorange;
}
.AFC {
  margin: 15px;
  font-size: 2.5em;
}
.NFC {
  margin: 15px;
  font-size: 2.5em;
}
.AFC-east {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.NFC-east {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.AFC-north {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.NFC-north {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.AFC-south {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.NFC-south {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.AFC-west {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
.NFC-west {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
  color: darkorange;
  margin-top: 20px;
}
img {
  height: 200px;
  width: 200px;
}
.team {
  transition: transform 0.3s ease-in-out;
}
.team:hover {
  transform: scale(1.05);
}
